body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 120vh;
}   
a {
  color:black;
  text-decoration: none;
}
header{
  border-bottom:1px solid gray;
  text-align: center;  
  margin: 8px;
}
h1 {
  margin: 8px;
}
.content {
  display: flex;
  flex-grow: 1;
}
.content nav{
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr ; */
  border-right:1px solid gray;
  margin: 0;
  padding: 30px;

} 
.content main{
  padding:30px;
  flex-grow: 1;
}
li {
  list-style: none;
  padding: 30px;
  text-align: center;
}

li:hover {
  background-color: rgb(253, 242, 242);
  color: rgb(255,255,204);
  border-radius: 4px;
}

footer{
  border-top:1px solid gray;
  padding:20px;
  text-align: center;
}
