  /* #grid{
    border:none solid none;
    display: grid;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  div{
    border:none solid 5px;
  }
  a {
    color:black;
    text-decoration: none;
  }
  .saw {
    color:gray;
  }
  #active {
    color:red;
  }
  h1 {
    border-bottom:1px solid gray;
    padding-bottom: 10px;
    margin:none
    display: block;
    width: 100%;
    font-size: 35px;
    text-align: center;
  }
  body {
    align-items: center;
  }
  table {
    width: 90%;
    border: 5px solid gray;
    border-collapse: collapse;
    margin-left: 30px;
  }
  
  th, td {
    border: 1px solid gray;
    height: 200px;
  } */
  
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border:red solid 5px;
}

header{
  border-bottom:1px solid gray;
  padding-left:0px;
  border:1px solid none;
}

.content nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  border:1px solid none;
  padding: 10px;
} 

main{
  border:1px #8692fc solid;
  padding:30px;
}

a {
  color:black;
  text-decoration: none;
}

footer{
  border-top:1px solid gray;
  padding:20px;
  text-align: center;
}